<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }} - {{ entrada }} / {{ tarima }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="cambiarLock()">
        <ion-icon slot="icon-only" name="{{ lockState }}"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
      <ion-button id="trigger-config">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-popover trigger="trigger-config">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false" (click)="configuracionIp()">
            <ion-label>Configuracion IP</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="colors">
        <ion-item slot="header">
          <ion-label position="floating">Etiqueta</ion-label>
          <ion-input (keydown.enter)="buscarCodigo($event.target)"></ion-input>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <ion-grid>
              <ion-row class="thead">
                <ion-col>Secuencia</ion-col>
                <ion-col>Tarima</ion-col>
                <ion-col>Cant Men</ion-col>
                <ion-col>Cant May</ion-col>
                <ion-col>Recibe</ion-col>
              </ion-row>
              <div class="div-center" *ngIf="loading">
                <div class="progress-bar" >
                  <div class="circle border">
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!loading && (!tarimasPorRecepcionData || tarimasPorRecepcionData.length < 1)">
                <div class="text-center text-muted">
                  <h2>No hay elementos por mostrar</h2>
                </div>
              </ng-container>
              <ng-container>
                <ion-row *ngFor="let tarimas of tarimasPorRecepcionData; let i = index">
                  <ion-col>{{tarimas.secuencia_id}}</ion-col>
                  <ion-col>{{ tarimas.tarima_id }}</ion-col>
                  <ion-col>{{ tarimas.cantidad_men_recepcion }}</ion-col>
                  <ion-col>{{ tarimas.cantidad_may_recepcion }}</ion-col>
                  <ion-col>{{ tarimas.asignado_a }}</ion-col>
                </ion-row>
              </ng-container>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>

    <ion-item>
      <ion-label>Seleccionar lado:</ion-label>
      <ion-button (click)="cambiarFocoBoton('A')" size="large" color="{{ buttonA }}">A</ion-button>
      <ion-button (click)="cambiarFocoBoton('B')" size="large" color="{{ buttonB }}">B</ion-button>
      <ion-button (click)="cambiarFocoBoton('C')" size="large" color="{{ buttonC }}">C</ion-button>
      <ion-button (click)="cambiarFocoBoton('D')" size="large" color="{{ buttonD }}">D</ion-button>
      <ion-label>Operación</ion-label>
      <ion-select id="tipoOperacion" placeholder="Operación" value="{{tipoOperacionCodigoBarras}}">
        <ion-select-option value="agregar">Agregar</ion-select-option>
        <ion-select-option value="eliminar">Eliminar</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-grid>
        <ion-row style="padding: 0px;">
          <ion-col [ngClass]="classLadoA">Lado A</ion-col>
          <ion-col [ngClass]="classLadoB">Lado B</ion-col>
          <ion-col [ngClass]="classLadoC">Lado C</ion-col>
          <ion-col [ngClass]="classLadoD">Lado D</ion-col>
        </ion-row>
        <ion-row class="thead">
          <ion-col>Sec</ion-col><ion-col>Cant. Menor</ion-col><ion-col>Desc.</ion-col><ion-col>Sec</ion-col><ion-col>Cant. Menor</ion-col><ion-col>Desc.</ion-col><ion-col>Sec</ion-col><ion-col>Cant. Menor</ion-col><ion-col>Desc</ion-col><ion-col>Sec</ion-col><ion-col>Cant. Menor</ion-col><ion-col>Desc.</ion-col>
        </ion-row>
        <div class="div-center" *ngIf="loading">
          <div class="progress-bar" >
            <div class="circle border">
            </div>
          </div>
        </div>
        <ng-container *ngIf="!loading && (!detalleLadosTarimaData || detalleLadosTarimaData.length < 1)">
          <div class="text-center text-muted">
            <h2>No hay elementos por mostrar</h2>
          </div>
        </ng-container>
        <ng-container>
          <ion-row *ngFor="let lados of detalleLadosTarimaData; let i = index">
            <ion-col>{{ lados.secuencia_a }}</ion-col>
            <ion-col>{{ lados.cantidad_men_a }}</ion-col>
            <ion-col class="endOfLado">{{ lados.material_a }}</ion-col>

            <ion-col>{{ lados.secuencia_b }}</ion-col>
            <ion-col>{{ lados.cantidad_men_b }}</ion-col>
            <ion-col class="endOfLado">{{ lados.material_b }}</ion-col>

            <ion-col>{{ lados.secuencia_c }}</ion-col>
            <ion-col>{{ lados.cantidad_men_c }}</ion-col>
            <ion-col class="endOfLado">{{ lados.material_c }}</ion-col>

            <ion-col>{{ lados.secuencia_d }}</ion-col>
            <ion-col>{{ lados.cantidad_men_d }}</ion-col>
            <ion-col class="endOfLado">{{ lados.material_d }}</ion-col>
          </ion-row>
        </ng-container>

      </ion-grid>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" (click)="presentAlertPrompt()">Agregar</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-accordion-group value="colors">
      <ion-accordion value="colors">
        <ion-item slot="header">
          <ion-label>Totales por material:</ion-label>

        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <ion-grid>
              <ion-row class="thead">
                <ion-col>Material</ion-col>
                <ion-col>Material</ion-col>
                <ion-col>Cant May</ion-col>
                <ion-col>Cant Men</ion-col>

                <ion-col>Cant May R</ion-col>
                <ion-col>Cant Men R</ion-col>
                <ion-col>Kgs</ion-col>
              </ion-row>
              <div class="div-center" *ngIf="loading">
                <div class="progress-bar" >
                  <div class="circle border">
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!loading && (!detalleProductosTarimaData || detalleProductosTarimaData.length < 1)">
                <div class="text-center text-muted">
                  <h2>No hay elementos por mostrar</h2>
                </div>
              </ng-container>
              <ng-container>
                <ion-row *ngFor="let producto of detalleProductosTarimaData; let i = index">
                  <ion-col>{{ producto.secuencia_id }}</ion-col>
                  <ion-col>{{ producto.material_desc }}</ion-col>
                  <ion-col>{{ producto.cantidad_may_remfact }}</ion-col>
                  <ion-col>{{ producto.cantidad_men_remfact }}</ion-col>

                  <ion-col>{{producto.cantidad_may_recepcion}} {{ producto.unidad_mayor_desc }}</ion-col>
                  <ion-col>{{producto.cantidad_men_recepcion}} {{ producto.unidad_menor_desc }}</ion-col>
                  <ion-col>{{producto.cantidad_recepcion}}</ion-col>
                </ion-row>
              </ng-container>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
